<!DOCTYPE html>
<html>
<head>
<title>Stanford + spaCy accessor</title>

<link rel="stylesheet" href="static/style.css" />
<link rel="stylesheet" href="../static/style.css" />
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
<link rel="stylesheet" href="http://textae.pubannotation.org/lib/css/textae.min.css" />

 <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="http://textae.pubannotation.org/vender/jquery.jsPlumb-1.5.2-min.js"></script>
<script src="http://textae.pubannotation.org/lib/textae.min.js"></script>

</head>

<body>
	<div class="blur-container">
		<div class="pre-blur-box"></div>
		<a href="spacy_rest">
		<div id="header" class="blur-box">
			<div id="title">
				<h1>Stanford + spaCy REST accessor<h1>
			</div>
		</div>
		</a>
	</div>
	{%  if error %}
	<div id="error" class="blur-container">
		<div class="pre-blur-box"></div>
		<div class="blur-box error">
			{{ error }}
		</div>
	</div>
	{% endif %}
	
	{% if not page_not_found %}
	<div id="main" class="blur-container">
	<div class="pre-blur-box"></div>
	<fieldset class="pane blur-box">
		<legend>Demo</legend>
			<form>
				<input type="text" id="text_field" name="text" style="width:80%" value="{{input_text}}" placeholder="Input text">
				<input id="text_value" type="submit">
			</form>
		
		<section>
			<h3 id="textae">Parsing result in <a href="http://textae.pubannotation.org">TextAE</a> visualization</h3>
			<div class="textae-editor" style="margin:5px 0; padding:4px">
				{{ json }}
			</div>
		</section>
		<section>
			<h3>... in JSON</h3>
			<textarea class="json_textarea" style="width:100%">{{ pretty_json }}</textarea>
	  </section>
	</fieldset>
	</div>
	{% endif %}
	
	<div id="explain" class="blur-container">
	<div class="pre-blur-box"></div>
	<div class="blur-box">
		<h3>In a nutshell</h3>
		<p>This is the web interface for a pipeline that delivers fast, accurate dependency parses using <a href="http://nlp.stanford.edu/software/tagger.shtml">Stanford POS tagger</a> and <a href="https://spacy.io/">spaCy</a> dependency parser. <a href="http://textae.pubannotation.org">TextAE</a> is used to visualize the results. It was developed as a joint project of the <a href="http://www.cl.uzh.ch/de.html">Institute of Computational Linguistics</a> at the University of Zurich, and the <a href="http://dbcls.rois.ac.jp/en/">DBCLS</a> in Japan.</p>
		
		<h3>Usage</h3>
		<p>Either use via the web interface above, or using <a href="https://curl.haxx.se/">cURL</a>.</p>
	</div>	
	</div>	
	</div>
</body>
</html>